<a href="https://colab.research.google.com/github/Kracklo/Deliverable3/blob/main/Dev3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#step 1 Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [45]:
#step 2 Load Iris
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [46]:
#step 3 Drop Species Column
iris = iris.drop(labels = 'species', axis = 1, inplace = True)
iris.head()

AttributeError: ignored

In [31]:
#step 4 add two columns
iris['sepal_sum'] = iris['speal_length'] + iris['sepal_width']

iris['petal_sum'] = iris['petal_length'] + iris['sepal_width']

TypeError: ignored

In [44]:
#step 5
mean = [np.mean(iris['sepal_length']),
        np.mean(iris['sepal_width']),
        np.mean(iris['sepal_sum']),
        np.mean(iris['petal_length']),
        np.mean(iris['petal_width']),
        np.mean(iris['petal_sum']),]

summary_dict = {'mean': mean}

summary_df = pd.DataFrame(data = summary_dict)

summary_df

KeyError: ignored

In [42]:
iris.std()

<ipython-input-42-c5ab3f85284a>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

In [41]:
iris.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [43]:
iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object